
#naam{
	position: absolute;
    left: 100px;
}
#energie{
	position: absolute;
    left: 100px;
}
#water{
	position: absolute;
    left: 100px;
}
#eiwit{
	position: absolute;
    left: 100px;
}
#koolhydraten{
	position: absolute;
    left: 100px;
}
#suikers{
	position: absolute;
    left: 100px;
}
#vet{
	position: absolute;
    left: 100px;
}